
@import 'materialize';

// Alignment
.center {
  margin-left: auto;
  margin-right: auto;
  &--text {
    text-align: center;
  }
}
.left {
  float: left;
  &--text {
    text-align: left;
  }
}
.right {
  float: right;
  &--text {
    text-align: right;
  }
}
